BASE_URL=https://automationexercise.com

TEST_EMAIL=
TEST_USERNAME=
TEST_PASSWORD=
PASSWORD=

TEST_USER_NAME=
TEST_USER_PASSWORD=
TEST_USER_TITLE=
TEST_USER_BIRTH_DATE=
TEST_USER_BIRTH_MONTH=
TEST_USER_BIRTH_YEAR=
TEST_USER_FIRSTNAME=
TEST_USER_LASTNAME=
TEST_USER_COMPANY=
TEST_USER_ADDRESS1=
TEST_USER_ADDRESS2=
TEST_USER_COUNTRY=
TEST_USER_ZIPCODE=
TEST_USER_STATE=
TEST_USER_CITY=
TEST_USER_MOBILE=

VALID_LOGIN_EMAIL=
VALID_LOGIN_PASSWORD=