BASE_URL=https://automationexercise.com

TEST_USERNAME=your_username
TEST_PASSWORD=your_password
PASSWORD=your_password

TEST_USER_NAME=your_test_user_name
TEST_USER_PASSWORD=your_test_user_password
TEST_USER_TITLE=Mr
TEST_USER_BIRTH_DATE=27
TEST_USER_BIRTH_MONTH=10
TEST_USER_BIRTH_YEAR=2000
TEST_USER_FIRSTNAME=your_firstname
TEST_USER_LASTNAME=your_lastname
TEST_USER_COMPANY=your_company
TEST_USER_ADDRESS1=your_address
TEST_USER_ADDRESS2=your_address2
TEST_USER_COUNTRY=Bangladesh
TEST_USER_ZIPCODE=100001
TEST_USER_STATE=Dhaka
TEST_USER_CITY=Dhaka
TEST_USER_MOBILE=your_mobile_number

VALID_LOGIN_EMAIL=your_valid_login_email
VALID_LOGIN_PASSWORD=your_valid_login_password

# Signup
SIGNUP_NAME=your_signup_name
SIGNUP_PASSWORD=your_signup_password

# Registered account
REGISTERED_EMAIL=your_registered_email

# Signup personal information
SIGNUP_TITLE=Mr
SIGNUP_DAY=15
SIGNUP_MONTH=May
SIGNUP_YEAR=1998

# Signup options
SIGNUP_NEWSLETTER=true
SIGNUP_SPECIAL_OFFERS=true

# Address
SIGNUP_FIRST_NAME=your_first_name
SIGNUP_LAST_NAME=your_last_name
SIGNUP_COMPANY=your_company
SIGNUP_ADDRESS=your_address
SIGNUP_ADDRESS2=your_address2
SIGNUP_CITY=your_city
SIGNUP_STATE=your_state
SIGNUP_ZIP=your_zip_code
SIGNUP_COUNTRY=Canada
SIGNUP_PHONE=your_phone_number